.about {
  margin-top: 3rem;

  &__content {
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .tile-icon {
    svg {
      width: 50px;
      height: 50px;
      fill: #436fa4;
    }
  }// tile icon

  .project__tiles {
    padding: 0 4rem;

    .tile-icon {
      margin-right: 30px;
    }
  }
} // about


.eu__title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200!important;
}

.eu__img {
  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;

  padding: 2rem 4rem;

  img {
    object-fit: cover;
  }
}

.project__description {
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 28px;
}